<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Estadísticas Empleados</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <h2>Estadisticas empleados</h2>
        <hr/>
        <h4 class="mt-4">Cantidad de empleados por pais</h4>
        <table class="table table-sm">
            <tr>
                <th>País</th>
                <th>Cantidad de empleados</th>
            </tr>
            <tr th:each="empleadoPorPais : ${listaEmpleadosPorPais}">
                <td th:text="${empleadoPorPais.getPais()}">
                <td th:text="${empleadoPorPais.getCantidad()}"></td>
            </tr>
        </table>
    </body>
</html>

